<div id="right">
    <a href="/logout">Logout</a>
</div>
<div class="row">
    <link rel="stylesheet" href="/public/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav class="navbar navbar-dark col-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/stocks">My Favorites</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/buy">Buy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sell">Sell</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/history">Order History</a>
            </li>
        </ul>
    </nav>

    <!-- enter all code here-->
    <div class="col-10" id="main-stock">
        <h1>Sell Stocks</h1>
        <div id="msg">{{msg}}</div>

        <form id="sell" class="form-group row" action="/sell" method="POST">

            <div class="dropdown col-3">
                <label for="dropdownMenuButton"></label>
                <select class="btn btn-secondary dropdown-toggle col-sm row" name="dropdownMenuButton"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#each stocks}}
                        <option value={{this.stockName}}>{{this.stockName}}</option>
                        {{/each}}
                </select>
            </div>

            <label for="quantity">Quantity</label>
            <input type="number" class="col-2" name="quantity" id="quantity" min="0" step="1" />
            <label for="sellStock">Sell</label>
            <input type="submit" class="btn-primary col-1" name="sell" id="sellStock" value="Sell">
        </form>

        <table>
            <tr>
                <th>Stock Name </th>
                <th>Quantity</th>
                <th>Value per stock</th>
            </tr>
            {{#each stocks}}
            <tr>
                <td>{{this.stockName}}</td>
                <td>{{this.buyQuant}}</td>
                <td>{{this.Value}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>